<!-- <app-szinvalaszto (ujSzinKivalasztva)="szinvalasztasTortent($event)"></app-szinvalaszto>

<app-doboz [xPozicio]="200" [yPozicio]="10" [szin]="kivalasztottSzin"></app-doboz>
<app-doboz [xPozicio]="100" [yPozicio]="200" [szin]="kivalasztottSzin"></app-doboz>
<app-doboz [xPozicio]="300" [yPozicio]="300" [szin]="kivalasztottSzin"></app-doboz>
<app-doboz [xPozicio]="400" [yPozicio]="450" [szin]="kivalasztottSzin"></app-doboz>
<app-doboz [xPozicio]="550" [yPozicio]="100" [szin]="kivalasztottSzin"></app-doboz>

{{kivalasztottSzin}}
-->

<!-- Sablon műveletek -->

<!--
  1. for ciklus
  2. String interpoláció
  3. if statement - else
  4. ng-template
  5. ng-container
 -->

<div *ngIf="elemek.length === 0">Adj hozzá elemeket!</div>

<ng-container *ngIf="elemek.length < 5">
  <ng-container *ngFor="let elem of elemek; let i = index; let isLast = last">
    <span>
      {{ elem }}
    </span>

    <button (click)="elemTorolve(i)">Törlés</button>
    <hr *ngIf="!isLast" />
  </ng-container>
</ng-container>


<form *ngIf="elemek.length < 5; else maxElemszamElerve"  (submit)="ujElemLetrehozva($event)">
  <input type="text" name="elem">
  <button>Küldés</button>
</form>

<ng-template #maxElemszamElerve>
  Maximum elemszám {{elemek.length}}x elérve!
</ng-template>


