<app-szinvalaszto (ujSzinKivalasztva)="szinvalasztasTortent($event)"></app-szinvalaszto>

<app-doboz [xPozicio]="200" [yPozicio]="10" [szin]="kivalasztottSzin"></app-doboz>
<app-doboz [xPozicio]="100" [yPozicio]="200" [szin]="kivalasztottSzin"></app-doboz>
<app-doboz [xPozicio]="300" [yPozicio]="300" [szin]="kivalasztottSzin"></app-doboz>
<app-doboz [xPozicio]="400" [yPozicio]="450" [szin]="kivalasztottSzin"></app-doboz>
<app-doboz [xPozicio]="550" [yPozicio]="100" [szin]="kivalasztottSzin"></app-doboz>

